/*body {
            background-color: blue;
            color: #87ffee;
        }
        h1 {
            background-color: deeppink;
            color: #000;
        }
        h3 {
            background-color: #fff;
            color: darkviolet;
        }*/
/*#uno {
    background-color: yellow;
    color: #000;
}
h1 {
    color: aliceblue;
    background-color: midnightblue;
}
button {
    background-color: cornflowerblue;
    color: midnightblue;
}
#btnCancelar {
    color: cornflowerblue;
    background-color: midnightblue;
}*/
.btnCuidado {
    background-color: #ff4a12;
    color: #fff;
}
.btnExito {
    background-color: green;
    color: #ffffff;
}
.btnExito:hover {
    background-color: green;
    color: midnightblue;
}
button:hover {
    background-color: #000;
    color: #ffffff;
    border-color: greenyellow;
    font-size: larger;
}
button:focus {
    color: lightcoral;
}
.hidden:hover {

}